<form>
    <div class="form-group">
        <label>Student Name</label>
        <input id="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Student Address</label>
        <textarea id = "comment" cols="30" rows="5" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Student Address</label><br>
      <label><input type="radio" name="gender"> Male</label>
      <label><input type="radio" name="gender"> Female</label>
    </div>

    <div class="form-group">
        <label>Student Mobile Number</label>
        <input id="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Student College Name</label>
        <input id="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Student Email ID</label>
        <input id="name" type="text" class="form-control">
    </div>

    <div>
      <button class="btn btn-primary">Submit</button>
    </div>
</form>